{
    "presets": ["babel-preset-gatsby"],
    "plugins": [
      ["prismjs", {
        "languages": ["javascript", "php", "yaml"],
        "plugins": ["show-language"],
        "theme": "okaidia",
        "css": true
      }]
    ]
  }