@tailwind base;

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600 underline;
}
body {
  @apply .font-serif;
  font-size: 21px;
  line-height: 1.77;
  letter-spacing: -0.084px;
}
.article-body p {
  margin-bottom: -9.66667px;
  margin-top: 42px;
}
.blog-illustration {
  margin: auto;
  text-align: center;
  @apply mt-10;
}
.field-type-taxonomy-term-reference li {
  @apply .inline-block;
  @apply .pr-5;
  text-rendering: optimizeLegibility;
}
.field-type-taxonomy-term-reference li a {
  @apply p-5;
  background: red;
  display: block;
}

@tailwind components;

@tailwind utilities;