@tailwind base;

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600 underline;
}
body {
  @apply .font-sans;
  line-height: 1.66;
  letter-spacing: -0.084px;
}
html {
  font-size: 19px;
}
.node__title a {
  color: theme("colors.gray.800");
  @apply .font-extrabold;
  @apply .no-underline;
}
article.full ul,
.article-body p {
  margin-bottom: 18px;
}
.blog-illustration {
  margin: auto;
  text-align: center;
  @apply mt-10;
}
.field-type-taxonomy-term-reference li {
  @apply .inline-block;
  text-rendering: optimizeLegibility;
}
a {
  @apply .text-blue-800;
}
.field-type-taxonomy-term-reference li a {
  @apply .text-base .text-sm .text-teal-700 .no-underline;
  display: block;
}
.article-body blockquote {
  @apply .px-4 .italic .border-l-4 .text-gray-700 .border-gray-400;
  @apply mt-2;
}
.comment-wrapper p {
  @apply .mb-2;
}
.comment-wrapper blockquote {
  @apply .mb-2 .p-1 .mt-2 .italic .border-l-4 .text-gray-700 .border-gray-600;
}
.article-body blockquote p {
  margin-top: 0px;
}
blockquote {
  @apply .border-gray-600;
  border-left: 1px solid;
}
article.full .blog-date {
  margin-bottom: 1em;
  display: block;
}
article.full h2 {
  margin-top: 1em;
}
article.full h3 {
  @apply .font-bold;
}
article .img.player {
  background-color: theme("colors.teal.800");
  height: 100px;
  width: 60%;
  margin: auto;
}
article.full .field-type-taxonomy-term-reference ul {
  padding-left: 0;
  @apply mt-2;
}
article .img.player .text {
  color: white;
  text-align: center;
  padding: 2em;
  cursor: pointer;
}
.comment-wrapper ul,
article.full ul {
  @apply .list-disc;
  padding-left: 2em;
}
.social-links a {
  margin: 0.3em;
  display: inline-block;
}
.social-links,
footer .eirik {
  text-align: center;
}
.social-links svg {
  display: inline-block;
  width: 30px;
}
.blog-pager {
  display: table;
  width: 100%;
}
.blog-pager a {
  display: table-cell;
}
.blog-pager a[rel="next"] {
  text-align: right;
}

@tailwind components;

@tailwind utilities;
